body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 140%;
  color: #545454;
  background-color: #c6ffcc96;
}

.heading {
  position: relative;
  width: 25%;
  margin: auto;
  z-index: 5;
}


.mainHeading {
  font-family: "Dancing Script", cursive;
  font-size: 400%;
  margin-top: 0;
  margin-bottom: 2%;
}

.heading-description {
  font-size: 100%;
  margin-top: 0;
  color: black;
  z-index: 2;
}

/* MENU */
.menu {
  background-color: rgb(127, 168, 43);
  z-index: 2;
  display: inline-block;
  position: fixed;
  width: 10%;
  height: 100%;
  left: -11%;
  transition-duration: 2s;
  padding-top: 2%;
  padding-left: 1%;
  text-align: left;
}

.menu-titles {
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.menu-unhide {
  transform: translate(110%, 0%);
  transition-duration: 2s;
}

.X {
  position: relative;
  left: 80%;
  bottom: 2%;
  height: 3%;
  width: 15%;
}

.X:hover {
  opacity: 0.3;
}

hr {
  border-top: 12px dotted;
  border-bottom: none;
  color: green;
  background-color: #d8f3dc;
  opacity: 0.3;
  margin: 10% auto 10%;
  width: 6%;
}

.top-container {
  position: relative;
  background-color: #74c69d;
  padding-top: 2%;
}

.middle-container {
  position: relative;
  padding-top: 5%;
}

.myPhoto {
  margin: 0 auto 2%;
  display: block;
  height: 13%;
  width: 13%;
}

.aboutme-text {
  color: #545454;
  display: inline-block;
  width: 20%;
  text-align: center;
}



h2 {
  font-family: "Montserrat", sans-serif;
  color: #40916c;
  font-size: 150%;
  margin-bottom: 5%;
}

.mountain {
  margin-top: 5%;
  height: 50%;
  width: 50%;
}

.cloud1 {
  position: absolute;
  right: 27%;
  top: 10%;
  height: 6%;
  width: 9%;
}

.cloud2 {
  position: absolute;
  right: 70%;
  bottom: 70%;
  height: 6%;
  width: 9%;
  z-index: 0;
}

.cloud3 {
  position: absolute;
  right: 25%;
  bottom: 40%;
  height: 6%;
  width: 9%;
}

.lista-fakultet {
  display: inline-block;
  text-align: left;
  color: #545454;
  width: 35%;
  vertical-align: middle;
  margin-left: 4%;
}

.lista-elementary {
  display: inline-block;
  color: #545454;
  text-align: left;
  position: relative;
}

.board {
  margin-left: 4%;
}

.skills-table1 {
  display: inline-block;
  margin-right: 5%;
}

.skills-table2 {
  display: inline-block;
}

.checked-star {
  color: orange;
}

.unchecked-star {
  color: wheat;
}

.hrvatski {
  margin-bottom: 1%;
}

.engleski {
  margin-bottom: 1%;
}

.hrvatski-zvjezdice {
  display: inline-block;
  margin-left: 2%;
}

.engleski-zvjezdice {
  display: inline-block;
  margin-left: 2%;
}

.njemacki-zvjezdice {
  display: inline-block;
  margin-left: 2%;
}

.zastava {
  width: 3%;
  height: 3%;
}

.middle-container4 {
  display: inline-block;
}

.tablica-certifikati td {
  width: 350px;
}

.badge1 {
  width: 40%;
  height: 47%;
}

/* Dropdown menu*/
.dropdown {
  display: inline-block;
  position: fixed;
  left: 20px;
  top: 10px;
  z-index: 1;
  height: 5%;
  width: 3%;
}

.dropdown:hover {
  opacity: 0.5;
}

.badge_OCA:hover,
.badge_OCP:hover,
.badge_db2:hover,
.badge_db2dba:hover {
  opacity: 0.5;
}

.bottom-container {
  background-color: #40916c;
  padding: 30px;
  margin-top: 80px;
}

.image-linkedin:hover,
.image-facebook:hover,
.image-github:hover {
  opacity: 0.5;
}

.btn-linkedin,
.btn-facebook,
.btn-github {
  display: inline-block;
  margin: 0 20px 0 20px;
}

.btn-success {
  display: block;
  margin: 50px auto 20px;
}

.mycopyright {
  color: white;
  font-size: 14px;
}

.checkbox-animation {
  position: absolute;
  right:2%;
  margin: auto;
  padding: 0;
}

.custom-control-input {
  display: inline-block;
  height:16px;
  width: 16px;
  margin: 0;
}

.animation {
  display: inline-block;
  font-size: 16px;
}

.naslov-certifikata {
  font-size: 80%;
  
}