* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  color: #545454;
  background-color: #c6ffcc96;
}

.heading {
  position: relative;
  width: 40%;
  margin: auto;
  z-index: 5;
}


.mainHeading {
  font-family: "Dancing Script", cursive;
  font-size: 6vw;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 2%;
}

.heading-description {
  font-size: 2vw;
  margin-top: 0;
  color: black;
  font-weight: 300;
  z-index: 2;
}

/* MENU */
.menu {
  position: relative;
  background-color: rgb(127, 168, 43);
  z-index: 2;
  display: inline-block;
  position: fixed;
  width: 18%;
  height: 100%;
  left: -20%;
  transition-duration: 2s;
  padding-top: 2%;
  padding-left: 1%;
  text-align: left;
}


.menu-titles-container {
  position: absolute;
  left: 2vw;
  top: 8vw;
}

.menu-titles {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.menu-unhide {
  transform: translate(110%, 0%);
  transition-duration: 2s;
}

.X {
  position: absolute;
  left: 75%;
  height: 3vw;
}

.X:hover {
  opacity: 0.3;
}

hr {
  border-top: 12px dotted;
  border-bottom: none;
  color: green;
  background-color: #d8f3dc;
  opacity: 0.3;
  margin: 10% auto 10%;
  width: 6%;
}

.top-container {
  position: relative;
  background-color: #74c69d;
  padding-top: 2%;
}

.middle-container {
  position: relative;
  padding-top: 5%;
}

.myPhoto {
  margin: 0 auto 2%;
  display: block;
  height: 16vw;
  width: 16vw;
}

.aboutme-text {
  color: #545454;
  display: inline-block;
  font-size: 1.3vw;
  width: 70vw;
  text-align: center;
}



h2 {
  font-family: "Montserrat", sans-serif;
  color: #40916c;
  font-size: 150%;
  margin-bottom: 5%;
}

.mountain {
  margin-top: 5%;
  height: 50%;
  width: 50%;
}

.cloud1 {
  position: absolute;
  right: 27%;
  top: 10%;
  height: 6%;
  width: 9%;
}

.cloud2 {
  position: absolute;
  right: 70%;
  bottom: 70%;
  height: 6%;
  width: 9%;
  z-index: 0;
}

.cloud3 {
  position: absolute;
  right: 25%;
  bottom: 40%;
  height: 6%;
  width: 9%;
}


.education-fakultet {
  overflow: hidden;
  margin-bottom: 3%;
}

.diploma-container {
  float: left;
  margin-bottom: 0%;
  margin-left: 16%;
  margin-top: 3%;
  margin-right: 5%;
}

.lista-fakul-container {
  text-align: left;
  color: #545454;
  width: 35%;
  font-size: 1.3vw;
  float: left;
  margin-top: 3%;
  vertical-align: middle;
}


.education-elementary-container {
  overflow: hidden;
}

.lista-elementary-container {
  color: #545454;
  text-align: left;
  font-size: 1.3vw;
  float: left;
  margin-left: 22%;
  margin-right:4%;
  margin-top:3.5%;
}

.board-container {
  float: left;
}



.skills-table1 {
  display: inline-block;
  margin-right: 5%;
}

.skills-table2 {
  display: inline-block;
}


.stars {
  font-size: 1.2vw;
}

.checked-star {
  color: orange;
}

.unchecked-star {
  color: wheat;
}

.hrvatski {
  margin-bottom: 1%;
}

.engleski {
  margin-bottom: 1%;
}

.hrvatski-zvjezdice {
  display: inline-block;
  margin-left: 2%;
}

.engleski-zvjezdice {
  display: inline-block;
  margin-left: 2%;
}

.njemacki-zvjezdice {
  display: inline-block;
  margin-left: 2%;
}

.zastava {
  width: 3%;
  height: 3%;
}

.middle-container4 {
  display: inline-block;
}

.tablica-certifikati td {
  width: 350px;
}

.badge1 {
  width: 50%;
  height: 50%;
}

/* Dropdown menu*/
.dropdown {
  display: inline-block;
  position: fixed;
  left: 20px;
  top: 10px;
  z-index: 1;
  height: 4vw;
  width: 4vw;
}

.dropdown:hover {
  opacity: 0.5;
}

.badge_OCA:hover,
.badge_OCP:hover,
.badge_db2:hover,
.badge_db2dba:hover {
  opacity: 0.5;
}

.bottom-container {
  background-color: #40916c;
  padding: 30px;
  margin-top: 80px;
}

.image-linkedin:hover,
.image-facebook:hover,
.image-github:hover {
  opacity: 0.5;
}

.btn-linkedin,
.btn-facebook,
.btn-github {
  display: inline-block;
  margin: 0 20px 0 20px;
}

.btn-success {
  display: block;
  margin: 50px auto 20px;
}

.mycopyright {
  color: white;
  font-size: 14px;
}

.naslov-certifikata {
  font-size: 80%;
  
}


/* CHECKBOX ANIMACIJA*/
.checkbox-animation-container {
  position: absolute;
  top: 10px;
  right:3%;
  overflow: hidden;
}

.animation-label {
  display: inline-block;
  font-size: 11px;
  font-weight: 800;
  margin-right: 5px;
}

#exampleCheck1 {
  display: inline-block;
}





